.Slider {
  position: relative;
  background: #f7fdff;
}

.Slides {
  height: 96px;
  padding: 0px 52px 50px 52px;
  text-align: center;
}

.Prev, .Next {
  background-color: #ccd9e0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  height: 100px;
  margin: -96px 6px;
  padding: 12px;
  color: #c0b9af;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 0 2px 3px 0;
  user-select: none;
}

.Next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.Prev {
  left: 0;
}

.Prev:focus, .Next:focus {
  background-color: #ccd9e0;
  color: #c0b9af;
}

.Prev:hover, .Next:hover {
  background-color: rgba(0,16,32,0.3);
  color: #567;
}

.Buttons {
  text-align: center;
  padding: 16px;
  margin: 16px 0px 0px 0px;
  background: #ccd9e0;
}

.Button {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0px 6px;
  border-radius: 50%;
  background-color: #c0b9af;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.Active, .Button:hover {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0px 6px;
  border-radius: 50%;
  background-color: #9ab;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
  background-color: #567;
}
